{{ define "main" }}

<!-- Animated Hero -->
<article id="hero" class="absolute top-0 left-0"></article>

<article class="relative max-w-6xl mx-auto px-6 my-10 sm:my-12 lg:my-20 xl:my-28">

  <!-- Headline -->
  <h1 class="tracking-tight font-extrabold text-gray-800 text-4xl sm:text-5xl md:text-6xl z-10">
    <span class="block xl:inline">Lorem Ipsum sit dolor</span>
    <span class="block text-purple-400 xl:inline">animus suntus</span>
  </h1>

  <!-- Subline -->
  <p class="text-gray-600 sm:max-w-xl text-base sm:text-lg md:text-xl z-10">
    Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
    cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
  </p>

  <!-- CTA's -->
  <div class="mt-5 sm:mt-8 flex justify-start space-x-2 sm:space-x-4">
    {{$btn_cls := "px-8 py-3 text-base font-medium rounded-md transition-all hover:shadow-inner md:py-4 md:text-lg md:px-10"}}

    <!-- Button 1 -->
    <a href="#" class="{{$btn_cls}} bg-green-400 text-white hover:bg-green-500">
      Download
    </a>

    <!-- Button 2 -->
    <a href="#" class="{{$btn_cls}} bg-gray-50 text-gray-700 hover:bg-gray-200">
      Repository
    </a>
  </div>
</article>

<!-- Post List -->
<div class="my-10 mx-auto max-w-2xl px-4 sm:my-12 sm:px-6 md:mt-16 lg:my-20 lg:px-8 xl:my-28">

  {{ range (where .Site.RegularPages ".Type" "posts") }}

  <a class="text-black" href="{{ .Permalink }}">
    <article class="rounded-lg p-6 mb-8 transition-all bg-gray-50 hover:bg-white hover:shadow-md">

      <header>
        <h2 class="text-gray-700 text-2xl sm:text-3xl md:text-4xl mt-0 mb-4">{{ .Title }}</h2>
      </header>

      <section class="mb-2">
        {{ .Params.excerpt }}
      </section>

      <footer class="text-sm text-gray-500">
        <time>{{ .Date.Format "January 2, 2006" }}</time>
      </footer>

    </article>
  </a>

  {{ end }}
</div>

{{ end }}